@charset "ISO-8859-1";

table{
	
	align:center;
	color:#E0FFFF;
}
tr,td{
	
	text-align:center;	
color:#191970;
 font-size: 30px;
	
	
}
h3{
	
 text-align:center;
 	text-color:#008080;
	
}
input[type=submit]{
	
	color:#F0E68C;
	
}
input[type=submit]:hover {
	
    background-color:#45a049;
}

body{
	
	align:center;
	color:#E0FFFF;
}

a{

text-align:center;	
color:#191970;	
 font-size: 30px;	
}

a:hover{
	color:#9ACD32;
}